* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

:root {
  --poloroid-width: 300px;
  --poloroid-height: 400px;
}

html {
  font-size: 16px;
  font-family: "Dancing Script", cursive;
  word-spacing: 12px;
  background-color: #d2042d;
}

.message-container {
  position: relative;
  width: 55%;
  margin: 30px auto;
  padding: 70px 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 10px solid green;
  outline: 10px solid white;
  background-color: white;
  border-radius: 10px 0 10px 0;
}

h1 {
  text-align: center;
  width: 100%;
  font-size: 3.5rem;
}

p {
  margin: 20px 0;
  font-size: 1.8rem;
}

.poloroid {
  position: absolute;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: var(--poloroid-width);
  height: var(--poloroid-height);
  border: 15px solid white;
  border-bottom: 75px solid white;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.pic1 {
  top: 50px;
  left: 30px;
  transform: rotate(10deg);
}

.pic2 {
  top: 300px;
  right: 30px;
  transform: rotate(-7deg);
}

.pic3 {
  top: 700px;
  left: 30px;
  transform: rotate(-11deg);
}

.pic3 img {
  object-fit: cover;
}

.overlay {
  width: calc(var(--poloroid-width) - 27px);
  background-color: white;
  z-index: 100;
  height: calc(var(--poloroid-height) - 78px);
  position: absolute;
  bottom: -2px;
  right: -1px;
  opacity: 0.9;
  transition: opacity 7s;
}
